:root{
    --primaryColor: #eee;
    --secondaryColor: #888;
}

h1 {
    grid-area: titel;
    color: var(--primaryColor);
    font-size: 42px;
    text-align: center;
}

.banner {
    grid-area: logo;
    width: 90px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.mainLayout {
    grid-area: main;
    color: var(--primaryColor);
    font-size: 32px;
    margin-top: 1em;
    text-align: center;
}

#subtext {
        font-size: 25px;
        font-style: italic;
}

footer {
    grid-area: footer;
}

.facebookLogin {
    grid-area: facebook;
    color: var(--primaryColor);
}

.homeLayout {
    margin-top: 96px;
    display: grid;
    grid-template-columns: 4, 1fr;
    grid-auto-rows: minmax(auto);
    grid-template-areas: 
    "nav . . ."
    "logo logo logo logo"
    "titel titel titel titel"
    "main main main main"
    ". . . facebook"
    "footer footer footer footer";
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 7rem;
    }

    .mainLayout {
        font-size: 3rem;
    }

    #subtext {
        font-size: 2rem;
}

.banner {
    width: 350px;
}
  }
