:root {
    --primaryColor: #eee;
    --secondaryColor: #666;
    --backgroundColor: #444;
    --hoogteBanner: 96px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--hoogteBanner);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--secondaryColor);
}

header > * {
    padding-right: 26px;
}

.avatar-box {
    display: flex;
    line-height: 1.2;
}

.avatar-box > img {
    margin-right: 6px;
}

.grow1 {
    flex-grow: 1;
}

.nav {
    display: flex;
    -webkit-transition: top 0.5s ease;
    -moz-transition: top 0.5s ease;
    -ms-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
    transition: top 0.5s ease;
    background: var(--primaryColor);
    color: var(--backgroundColor);
    cursor: pointer;
    font-size: 2rem;
    height: auto;
    left: 0rem;
    top: -450px;
    padding: 14em 2rem 2rem 2rem;
    position: relative;
    width: 0px;
    z-index: 1;
  }
  
  .nav.js-expanded { 
    top: 0;
    width: 250px;
  }
  
  .nav ul {
    position: relative;
    list-style: none;
    margin-left: 1em;
    padding: 0;
  }

  .nav a {
      color: var(--backgroundColor);
      font-size: medium;
  }

  .nav a:hover {
    color: var(--secondaryColor);
  }

  header img {
    position: relative;
    padding-left: 20px;
      height: 70px;
      width: 70px;
      filter: invert(22%) sepia(3%) saturate(14%) hue-rotate(321deg) brightness(99%) contrast(83%);
      margin-left: 1rem;
      margin-right: 1em;
  }

  header a {
    color: var(--primaryColor);
    font-size: larger;
  }

  header a:hover{
    text-decoration: underline;
    color: var(--primaryColor);
  }

  .nav-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 2rem;
    left: 2rem;
    position: fixed;
    top: 2rem;
    width: 3rem;
    z-index: 2;
  }
  
  .nav-toggle:hover { opacity: 0.8; }
  
  .nav-toggle .nav-toggle-bar,  .nav-toggle .nav-toggle-bar::after,  .nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: var(--primaryColor);
    content: '';
    height: 0.4rem;
    width: 100%;
  }
  
  .nav-toggle .nav-toggle-bar { margin-top: 0; }
  
  .nav-toggle .nav-toggle-bar::after { margin-top: 0.8rem; }
  
  .nav-toggle .nav-toggle-bar::before { margin-top: -0.8rem; }
  
  .nav-toggle.js-expanded .nav-toggle-bar { background: transparent; }
  
  .nav-toggle.js-expanded .nav-toggle-bar::after, .nav-toggle.js-expanded .nav-toggle-bar::before {
    background: var(--backgroundColor);
    margin-top: 0;
  }
  
  .nav-toggle.js-expanded .nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .nav-toggle.js-expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

.fb-login-btn {
    border-radius: 8px;
    background-color: #0084ff;
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 11px 25px 11px 20px;
    font-size: 21px;
    white-space: nowrap;
}

.fb-login-btn:hover {
    color: white;
    text-decoration: none;
}

.fb-login-btn > .fa {
    padding-right: 1rem;
}
