:root {
    --primaryColor: #eee;
    --secondaryColor: #888;
    --backgroundColor: #444;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
}

.nav {
    display: grid;
    grid-area: nav;
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
    background: var(--primaryColor);
    color: var(--backgroundColor);
    cursor: pointer;
    font-size: 2rem;
    height: auto;
    left: -30rem;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    width: auto;
    z-index: 1;
  }
  
  .nav.js-expanded { left: 0; }
  
  .nav ul {
    position: relative;
    list-style: none;
    margin-left: 1em;
    padding: 0;
  }

  .nav a {
      color: var(--backgroundColor);
      font-size: medium;
  }

  .nav img {
      height: 56px;
      width: 56px;
      filter: invert(22%) sepia(3%) saturate(14%) hue-rotate(321deg) brightness(99%) contrast(83%);
      margin-left: 1rem;
  }

  .nav-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 2rem;
    left: 2rem;
    position: fixed;
    top: 2rem;
    width: 3rem;
    z-index: 2;
  }
  
  .nav-toggle:hover { opacity: 0.8; }
  
  .nav-toggle .nav-toggle-bar,  .nav-toggle .nav-toggle-bar::after,  .nav-toggle .nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: var(--primaryColor);
    content: '';
    height: 0.4rem;
    width: 100%;
  }
  
  .nav-toggle .nav-toggle-bar { margin-top: 0; }
  
  .nav-toggle .nav-toggle-bar::after { margin-top: 0.8rem; }
  
  .nav-toggle .nav-toggle-bar::before { margin-top: -0.8rem; }
  
  .nav-toggle.js-expanded .nav-toggle-bar { background: transparent; }
  
  .nav-toggle.js-expanded .nav-toggle-bar::after, .nav-toggle.js-expanded .nav-toggle-bar::before {
    background: var(--backgroundColor);
    margin-top: 0;
  }
  
  .nav-toggle.js-expanded .nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .nav-toggle.js-expanded .nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }