{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}

<div class="homeLayout">
    {% if not app.user %}
    <div class="facebookLogin"> 
        <a href="{{ fbLoginUrl }}" target="_top" class="fb-login-btn">
            <span class="fa fa-facebook" id=""></span>Login met Facebook
        </a>
        </div>
    {% endif %}

    <img class="banner" src="{{ asset('assets/playground.svg') }}" alt="logo">

    <h1 class="focus-in-contract-bck">Playground</h1>

    <div class="mainLayout">
    <p>Coming Soon</p>
    <p id="subtext">Voorjaar 2020</p>
    </div>
</div>

{% endblock %}
